/**
MODIFICACIONES EN LAS VARIABLES PREDEFINIDA DE BOOTSTRAP
 */

 $color-primario: #00a19a ;
 $color-secundario: #f78e3b;
 
 // Color system
 //
 $white:  #fff !default;
 $gray-100: #f8f9fa !default;
 $gray-600: #868e96 !default;
 $gray-800: #343a40 !default;
 
 $blue:    #007bff !default;
 $indigo:  #6610f2 !default;
 $purple:  #6f42c1 !default;
 $pink:    #e83e8c !default;
 $red:     #dc3545 !default;
 $orange:  #fd7e14 !default;
 $yellow:  #ffc107 !default;
 $green:   #28a745 !default;
 $teal:    #20c997 !default;
 $cyan:    #17a2b8 !default;
 
 $colors: (
         primary: $color-primario,
         secondary: $color-secundario,
         blue: $blue,
         indigo: $indigo,
         purple: $purple,
         pink: $pink,
         red: $red,
         orange: $orange,
         yellow: $yellow,
         green: $green,
         teal: $teal,
         cyan: $cyan,
         white: $white,
         gray: $gray-600,
         gray-dark: $gray-800
 );
 
 $theme-colors: (
         primary: $color-primario,
         secondary: $color-secundario,
         success: $green,
         info: $cyan,
         warning: $yellow,
         danger: $red,
         light: $gray-100,
         dark: $gray-800
 );
 