@charset 'utf-8';
@import 'custom';
@import 'bootstrap';
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #00a19a;
}

h2 {
  color: #f78e3b;
  font-weight: bold;
}

.full-height {
  height: 100vh;
}