{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Bootstrap for Sites</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>